{{ include('product/_delete_post_confirmation.html.twig') }}
<form method="post" action="{{ path('supplier_status_delete', {'id': supplier_status.id}) }}" data-confirmation=true>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier_status.id) }}">
    <button class="btn">Delete</button>
</form>