{% extends 'base.html.twig' %}

{% block title %}New SupplierStatus{% endblock %}

{% block body %}
    <h1>Create new SupplierStatus</h1>

    {{ include('supplier_status/_form.html.twig') }}

    <a href="{{ path('supplier_status_index') }}">back to list</a>
{% endblock %}