@keyframes a-right {
    from{ right: -100px; min-width: 10%;opacity: .3}
    to{right: 25px; min-width: 50%; opacity: .8}


}


div#flash-messages{
    position: fixed;
    right: 25px;
    bottom: 10px;
    min-width: 50%;
    z-index: 900;
    opacity: .8;
    animation-name: a-right;
    animation-duration: 1s;
    font-weight: bold;


}

.prod-container{
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    margin: 5px 0 5px 0;
    -webkit-box-shadow: 4px -2px 19px -5px rgba(15,2,8,1);
    -moz-box-shadow: 4px -2px 19px -5px rgba(15,2,8,1);
    box-shadow: 4px -2px 19px -5px rgba(15,2,8,1);
}

.div-table{
    display: table;
    width: 95%;

}
.div-row{
    display: table-row;
}
.div-row > div{
    display: table-cell;
}
.div-row:hover > div{
    background: #f4f4f5;
}
.div-row div:first-child{
    font-weight: bolder;
    width: 140px;
    text-align: right;
    padding-right: 20px;

}

#overlay{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1031;
    opacity: .7;
}


#spinner{
    background: url("/_images/spinner.gif") no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 46%;
    right: 50%;
    margin-right: -20px;
    z-index: 1032;

}

.shadow{
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
}

tip{
    z-index: 10020;
}
.pointer{ cursor: pointer }