<aside class="main-sidebar">
    <section class="sidebar">



        <ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
            <li class="header   ">
                Admin
            </li>
            <li class="   ">
                    <a href="{{path('product_index')}}" >
                    <i class="fa fa-shopping-cart"></i>            <span>Product</span>
                </a>
            </li>
            <li class="   ">
                <a href="{{ path('supplier_index') }}" >
                    <i class="fa fa-users"></i>            <span>Supplier</span>
                </a>
            </li>

            <li class="header   ">
                Extra
            </li>
            <li class="   ">
                <a href="https://fontawesome.bootstrapcheatsheets.com/" target="_blank">
                    <i class="fa fa-font-awesome"></i>            <span>font-awesome</span>
                </a>
            </li>


            {#<li class="">#}
                    {#<a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">#}
                        {#<i class="fa fa-chevron-down"></i> <span> Link with href</span>#}
                        {#<ul class="collapse" id="collapseExample">#}
                            {#<li class="">#}
                                {#<a href="">#}
                                    {#<i class="fa-recycle"></i><span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</a>#}
            {#</li>#}
        </ul>


    </section>
</aside>