{% for message in app.flashes('notice') %}
<div class="alert alert-warning alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-decoration: none">&times;</a>
    {{ message }}
</div>
{% endfor %}